body {
    margin: 50;
    padding: 50;
    margin-top: 50px;
    
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
}

.register-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #f06108bd;
    outline: none;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color:  #f06108bd;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color:  #f06108bd;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer-text a {
    color: #f06108bd;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}
