{% extends "shop/base.html" %}
{% block content %}
<h2>Choisissez un nouveau mot de passe</h2>

<form method="post">
  {% csrf_token %}
  {{ form.new_password1.label_tag }}<br>
  {{ form.new_password1 }}<br>
  {% if form.new_password1.errors %}
    <div class="error">{{ form.new_password1.errors }}</div>
  {% endif %}

  {{ form.new_password2.label_tag }}<br>
  {{ form.new_password2 }}<br>
  {% if form.new_password2.errors %}
    <div class="error">{{ form.new_password2.errors }}</div>
  {% endif %}

  <button type="submit">Changer le mot de passe</button>
</form>
{% endblock %}
